affine==2.4.0
attrs==24.2.0
certifi==2024.8.30
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy
cycler
filelock
fonttools
fsspec
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
rasterio
scikit-learn
scipy
shapely
six
sympy
threadpoolctl
torch
torchvision
typing_extensions
tzdata
